**
!package.json
!package-lock.json
!next.config.ts
!tsconfig.json
!postcss.config.mjs
!drizzle.config.ts
!vitest.config.ts
!playwright.config.ts
!Dockerfile
!soratra.sh
!.dockerignore
!compose*.yaml
!README.md
!CONTRIBUTING.md
!LICENSE
!NOTICE
!TRADEMARKS.md
!.gitignore
!.nvmrc
!AGENTS.md
!.env.example
!src/
!src/**
!public/
!public/**
!drizzle/
!drizzle/**
!docker/
!docker/**
!scripts/
!scripts/**
!docs/
!docs/**
!LICENSES/
!LICENSES/**
!e2e/
!e2e/**
!.github/
!.github/**
**/.env*
!.env.example
**/*.log
**/*.dump
**/*.backup
**/*.sql.gz
